.form-terms {
  color: var(--color-secondary-grey);
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;

  &__link {
    color: var(--color-secondary-grey);
  }
}
