.hero-section {
  padding-top: 71px;
  padding-bottom: 5px;
  background-image: linear-gradient(
      89deg,
      #fff 39.62%,
      rgba(255, 255, 255, 0.85) 45.31%,
      rgba(255, 255, 255, 0.19) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url(..//images/hero-background.png);
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        89deg,
        #fff 39.62%,
        rgba(255, 255, 255, 0.85) 45.31%,
        rgba(255, 255, 255, 0.19) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(..//images/hero-background@2x.png);
  }
  @media screen and (min-width: $bp-tablet) {
    padding: 130px 0 63px;
    margin-left: 90px;
  }
  @media screen and (min-width: $bp-desktop) {
    margin-left: 181px;
  }

  &__pretitle {
    margin-bottom: 0px;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      margin-bottom: 16px;
    }
  }

  &__title {
    color: var(--color-brand-blue);
    font-family: Play, sans-serif;
    text-transform: capitalize;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.8;
    word-wrap: normal;
    margin-bottom: 32px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      font-size: 140px;
      margin-bottom: 40px;
    }
  }

  &__button {
    margin: 0 auto 8px auto;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      margin: 0 0 14px 0;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
      font-size: 12px;
      padding-left: 15px;
    }
  }
}
