.whywe-section {
  padding-top: 160px;
  padding-bottom: 20px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 176px;
    padding-bottom: 35px;
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      font-weight: 700;
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    line-height: 1.33;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 56px;
    }
  }
}
